select {
    width: 360px;
}

.select2-container {
    .select2-selection--single {
        width: 100%;
        height: 50px;
        background-color: #fff;
        border: 2px solid #d6d8e8;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .dark-mode & {
            background-color: $sec;
        }

        .select2-selection__rendered {
            height: 100%;
            display: flex;
            align-items: center;
            color: #909090;
            font-size: 14px;
            font-weight: 500;

            @include rtl {
                padding: 0;
            }

            @include ltr {
                padding: 0;
            }

            .dark-mode & {
                color: #fff;
            }
        }

        .select2-selection__arrow {
            position: relative;
            top: auto;
            bottom: auto;
            width: auto;
            height: auto;

            &::after {
                font-family: 'Line Awesome Free';
                font-weight: 900;
                content: "\f107";
                font-size: 14px;
                color: #909090;

                .dark-mode & {
                    color: #fff;
                }
            }

            b {
                display: none;
            }

            @include rtl {
                right: auto;
                left: auto;
            }

            @include ltr {
                right: auto;
                left: auto;
            }
        }
    }

    .select2-dropdown {
        background-color: #fff;
        border: 2px solid #d6d8e8;
        border-radius: 5px;
        overflow: hidden;
        z-index: 9;

        .dark-mode & {
            box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);
            background-color: $sec;
        }
    }

    .select2-search--dropdown {
        padding: 10px;

        .select2-search__field {
            height: 39px;
            background-color: #fff;
            border: 2px solid #d6d8e8;
            border-radius: 5px;
            padding: 0 20px;

            .dark-mode & {
                color: #fff;
                background-color: $sec;
            }
        }
    }

    .select2-results {
        padding: 10px;

        >.select2-results__options {
            &::-webkit-scrollbar {
                background-color: #d6d8e8;
                width: 7px;
                height: 0px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $third;
            }

            scrollbar-width: thin;
            scrollbar-color: $third #d6d8e8;
        }
    }

    .select2-results__option {
        color: $text;
        font-size: 15px;
        font-weight: 500;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        padding-left: 0;
        padding-right: 0;

        &:hover {
            background-color: transparent;
            color: $main;
        }

        &.select2-results__option--highlighted {
            &.select2-results__option--selectable {
                background-color: transparent;
                color: $main;
            }
        }
    }

    &.select2-container--open {
        &.select2-container--below {
            .select2-selection--single {
                border-bottom-color: #d6d8e8;
                border-radius: 5px;
            }
        }

        .select2-dropdown--below {
            border-top-color: #d6d8e8;
            border-radius: 5px;
            margin: 10px 0;
        }
    }

    &.select2-container--open {
        &.select2-container--above {
            .select2-selection--single {
                border-top-color: #d6d8e8;
                border-radius: 5px;
            }
        }

        .select2-dropdown--above {
            border-bottom-color: #d6d8e8;
            border-radius: 5px;
            margin: -10px 0 0;
        }
    }
}


.select-cont {
    @include sm {
        position: relative;

        select {
            background-color: #fff;
            border: 2px solid #d6d8e8;
            border-radius: 5px;
            height: 50px;
            width: 100%;
            padding: 0 20px;
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            -webkit-appearance: none;
            -moz-appearance: none;

            .dark-mode & {
                color: #fff;
                background-color: $sec;
            }
        }

        &::after {
            font-family: 'Line Awesome Free';
            font-weight: 900;
            content: "\f107";
            font-size: 14px;
            color: #909090;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @include rtl {
                left: 20px;
            }

            @include ltr {
                right: 20px;
            }

            .dark-mode & {
                color: #fff;
            }
        }
    }
}