.brand-info {
    display: flex;

    @include sm {
        flex-direction: column;
        align-items: center;
    }
}

.brand-img-size {
    width: 21.6%;
    flex-shrink: 0;

    @include xs {
        width: 100%;
        max-width: 246px;
        margin-bottom: 15px;
    }
}

.brand-info-img {
    padding-bottom: 100%;
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 2px solid #d6d8e8;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.brand-info-text {
    margin-top: 10px;

    @include rtl {
        margin-right: 43px;
    }

    @include ltr {
        margin-left: 43px;
    }

    @include sm {
        text-align: center;

        @include rtl {
            margin-right: 0;
        }

        @include ltr {
            margin-left: 0;
        }
    }
}

.brand-title {
    font-size: 24px;
    color: $text;
    font-weight: 700;
    margin: 0 0 14px;

    &.xs-title {
        display: none;
    }

    @include sm {
        display: none;

        &.xs-title {
            display: block;
            text-align: center;
        }
    }
}

.brand-summary {
    font-size: 18px;
    color: rgb(17, 17, 17);
    line-height: 1.667;
    margin: 0 0 30px;

    .dark-mode & {
        color: #bdbed1;
    }
}

.brand-buttons {
    display: flex;
    align-items: center;

    @include sm {
        flex-direction: column;
        justify-content: center;
    }
}

.brand-button {
    padding: 0 20px;
    height: 40px;
    background-color: $sec;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;

    .dark-mode & {
        background-color: #fff;
        color: $sec;
    }

    &:hover {
        background-color: $main;
        color: #fff;
    }

    @include sm {
        width: 220px;
    }

    ~.brand-button {
        @include rtl {
            margin-right: 10px;
        }

        @include ltr {
            mrgin-left: 10px;
        }

        @include sm {
            margin: 10px 10px 0;
        }
    }
}

.brand-smartphones-container {
    background-color: #e9eaf2;

    .dark-mode & {
        background-color: $dark;
    }
}

.brand-banner-container {
    padding: 32px 0 0;
}