.editor-info {
    display: flex;
    align-items: center;

    @include sm {
        flex-direction: column;
    }
}

.editor-img-size {
    width: 14.5%;
    flex-shrink: 0;

    @include xs {
        width: 100%;
        max-width: 164px;
        margin-bottom: 15px;
    }
}

.editor-info-img {
    padding-bottom: 100%;
    display: block;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.editor-info-text {
    @include rtl {
        margin-right: 31px;
    }

    @include ltr {
        margin-left: 31px;
    }

    @include sm {
        text-align: center;

        @include rtl {
            margin-right: 0;
        }

        @include ltr {
            margin-left: 0;
        }
    }
}

.editor-title {
    font-size: 24px;
    color: $text;
    font-weight: 700;
    margin: 0 0 14px;

    &.xs-title {
        display: none;
    }

    @include sm {
        display: none;

        &.xs-title {
            display: block;
            text-align: center;
        }
    }
}

.editor-pos {
    font-size: 18px;
    color: rgb(17, 17, 17);
    line-height: 1.667;
    margin: 0 0  11px;

    .dark-mode & {
        color: #bdbed1;
    }
}

.editor-banner-container {
    padding: 40px 0 0;
}

.editor-blog-container {
    padding: 60px 0 100px;
}