.advanced-search {
    background-color: $sec;
    padding: 43px 0 53px;

    .dark-mode & {
        background-color: $dark;
    }
}

.search-head {
    color: #fff;
    font-size: 24px;
    font-family: 500;
    margin: 0 0 18px;
}

.phones-saerch-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .from-group {
        label {
            color: #fff;
        }
    }
}

.phones-saerch-input {
    width: 945px;

    @include rtl {
        padding: 0 20px;
    }

    @include ltr {
        padding: 0 20px;
    }

    &:focus {
        border-color: $main;
    }

    @include md {
        width: calc(100% - 60px);
    }
}

.phones-saerch-submit {
    i {
        transform: scaleX(-1);
    }

    .text {
        @include rtl {
            margin-right: 4px;
        }

        @include ltr {
            margin-left: 4px;
        }
    }

    @include md {
        height: 50px;
        width: 50px;

        .text {
            display: none;
        }

        @include rtl {
            margin-right: 10px;
        }

        @include ltr {
            margin-left: 10px;
        }
    }
}

.addition-fieldes {
    width: 100%;
    padding-top: 40px;
    display: none;

    // @include md {
    //     padding-top: 30px;
    // }
}

.from-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include md {
        gap: 15px;
        grid-template-columns: 1fr;
        margin-bottom: 30px;

        .from-group {
            margin: 0;
        }
    }
}

.tools-line {
    display: flex;
    align-items: center;
    margin: 18px 0 0;

    @include md {
        justify-content: center;
    }

    .reset {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #bdbed1;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 16px;
            color: #bdbed1;
            transition: color 0.3s ease-in-out;
            transition: transform 0.7s ease-in-out;

            @include rtl {
                margin-left: 7px;
            }

            @include ltr {
                margin-right: 7px;
            }
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: $third;

            i {
                color: $third;
                transform: rotate(-360deg);
            }
        }
    }

    .more-fields {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #bdbed1;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 16px;
            color: #bdbed1;
            transition: all 0.3s ease-in-out;

            @include rtl {
                margin-left: 7px;
            }

            @include ltr {
                margin-right: 7px;
            }
        }

        .close-fields {
            display: none;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: $third;

            i {
                color: $third;
            }
        }

        &.active {
            color: $main;

            .close-fields {
                display: block;
            }

            .open-fields {
                display: none;
            }

            i {
                color: $main;

                &::before {
                    content: "\f068";
                }
            }
        }

        @include rtl {
            margin-left: 30px;
        }

        @include ltr {
            margin-right: 30px;
        }
    }
}

.brands-container {
    padding: 70px 0 35px;

    @include md {
        padding: 20px 0 30px;
    }
}



.brands-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px 29px;

    @include md {
        gap: 20px 15px;
        grid-template-columns: repeat(5, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(4, 1fr);
    }

    @include xs {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
    }
}

.brand-item {
    padding-bottom: 100%;
    width: 100%;
    position: relative;

    .brand {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 2px solid #d6d8e8;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-color: $third;
        }
    }
}

.smartphones-banner-container {
    padding: 0 0 30px;
}

.smartphones-container {
    background-color: #e9eaf2;

    .dark-mode & {
        background-color: $dark;
    }
}



.price-slider {
    &.noUi-horizontal {
        height: 10px;
        margin-top: 19px;
        background: #1b2057;
        border-radius: 5px;
        border: none;
        box-shadow: none;

        .noUi-connects {
            border-radius: 0;
        }

        .noUi-connect {
            background-color: $main;
        }

        .noUi-handle {
            border-radius: 50%;
            background-color: #ffffff;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
            width: 20px;
            height: 20px;
            border: none;
            top: -5px;

            &::after,
            &::before {
                display: none;
            }
        }

        .noUi-tooltip {
            border: none;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            display: flex;
            align-items: center;
            bottom: auto;
            top: 28px;
            font-size: 14px;
            color: #7b81c5;

            span {
                @include rtl {
                    margin-right: 4px;
                }

                @include ltr {
                    margin-left: 4px;
                }
            }
        }

        @include sm {
            margin: 19px 15px 0;
        }
    }

}